<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <style>
        body {
            margin: 2%;
        }
    </style>
</head>
<body>
<h1>Posts:</h1>
{% for post in posts %}
    <h3>{{ post.name }}</h3>
    <h6>{{ post.text }}</h6>
{% endfor %}
<br>
<br>
<button class="btn btn-light">
    <a href="add_post">Create post</a>
</button>
<br>
<button class="btn btn-light">
    <a href="http://127.0.0.1:8000/">Back</a>
</button>
</body>
</html>